<!DOCTYPE html>
<html>
  <!-- Holder.js for client side placeholder images -->
  <script src="{{ '/js/holder.js' | prepend: site.baseurl }}"></script>
  {% include head.html %}

  <body>

    <main class="wrapper">
      
      {% include gallery-header.html %}

      <div class="container">
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
          </header>
        
          <article class="post-content">
            {{ content }}
          </article>
        
        </div>

        {% include footer.html %}
      </div>
    
    </main>
    {% include scripts.html %}
  </body>

</html>
