.lightbox {width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.85); z-index: 9999999; line-height: 0; cursor: pointer;}
.lightbox img {
	position: relative; 
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	max-width: 100%;
	max-height: 100%;
}
@media screen and (min-width: 1200px) {
    .lightbox img {
		max-width: 1200px;
    }
}
@media screen and (min-height: 1200px) {
    .lightbox img {
		max-height: 1200px;
	}
}
.lightbox span {display: block; position: fixed; bottom: 13px; height: 1.5em; line-height: 1.4em; width: 100%; text-align: center; color: white; text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

{% if include.lightbox_captions == "false" %}.lightbox span {display: none;}{% endif %}
{% if include.lightbox_captions == "true" %}.lightbox span {display: block;}{% endif %}
{% if page.lightbox_captions == false %}.lightbox span {display: none;}{% endif %}
{% if page.lightbox_captions == true %}.lightbox span {display: block;}{% endif %}

.lightbox .videoWrapperContainer {
	position: relative; 
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	max-width: 900px;
	max-height: 100%;
}
.lightbox .videoWrapperContainer .videoWrapper {
	height: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	position: relative;
	padding-bottom: 56.333%; /* custom */
	background: black;
} 
.lightbox .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	display: block;
}   
.lightbox #prev, .lightbox #next, .lightbox #rotate, .lightbox #close {height: 50px; line-height: 36px; display: none; margin-top: -25px; position: fixed; top: 50%; padding: 0 15px; cursor: pointer; text-decoration: none; z-index: 99; color: white; }

.lightbox #prev, .lightbox #next {font-size: 60px;}
.lightbox #rotate, .lightbox #close {font-size: 18px;}

.lightbox.gallery #prev, .lightbox.gallery #next, .lightbox #rotate, .lightbox #close {display: block;}
.lightbox #prev, .lightbox #rotate {left: 0;}
.lightbox #next, .lightbox #close {right: 0;}
.lightbox #rotate, .lightbox #close {top: 22px;}
/* .lightbox #close {height: 50px; width: 50px; position: fixed; cursor: pointer; text-decoration: none; z-index: 99; right: 0; top: 0;} */

/* .lightbox #close:after, .lightbox #close:before {position: absolute; margin-top: 22px; margin-left: 14px; height: 3px; background: white; width: 23px;
} */

.lightbox, .lightbox * {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
  
  html.lb-disable-scrolling {
	overflow: hidden;
	/* Position fixed required for iOS but reset the scroll on the beginning. Just putting overflow: hidden; on the body is not enough. */
	/* position: fixed; */
	position: static;
	height: 100vh;
	width: 100vw;
  }
